<div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let animal"> {{animal.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nome">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
            <mat-cell *matCellDef="let animal"> {{animal.nome}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="idade">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Idade </mat-header-cell>
            <mat-cell *matCellDef="let animal"> {{animal.idade}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dataNascimento">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Data de Nascimento</mat-header-cell>
            <mat-cell *matCellDef="let animal"> {{animal.dataNascimento}} </mat-cell>
        </ng-container>

		 <ng-container matColumnDef="operations">
            <mat-header-cell *matHeaderCellDef> Operações </mat-header-cell>
            <mat-cell *matCellDef="let animal">
                <button mat-button color="primary" (click)="delete(animal.id, animal.nome, animal.idade, animal.dataNascimento)"> <mat-icon>delete</mat-icon> </button>
                <button mat-button color="primary" (click)="edit(animal.id, animal.nome, animal.idade, animal.dataNascimento)"> <mat-icon>edit</mat-icon> </button>
            </mat-cell>
		</ng-container>
		
        <ng-container matColumnDef="especie">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Especie </mat-header-cell>
            <mat-cell *matCellDef="let animal"> {{animal.especie.nome}} </mat-cell>
        </ng-container>


    </mat-table>

    <mat-paginator #paginator [pageSize]="5"></mat-paginator>

</div>