<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row> 
        <span><img src="../assets/logo.png" style="width:50px;"></span>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button *ngIf="isLogged" routerLink="/especie-list">Especies</a>
        <a mat-button *ngIf="isLogged" routerLink="/especie-create">Nova Especie</a>
        <a mat-button *ngIf="isLogged" routerLink="/animal-list">Doações</a>
        <a mat-button *ngIf="isLogged" routerLink="/animal-create">Novo Doações</a>
    </mat-toolbar-row>
</mat-toolbar>
<main>
    <router-outlet style="margin-top: 80px;"></router-outlet>
</main>